sem2/wandb/
sem2/data/
sem2/PIAOM/lab1/lab01_data/
sem2/PIAOM/data/
sem2/wandb
sem2/DSN/annotations.zip
sem2/DSN/data
sem2/DSN/lab4/vit/weights
sem2/PIAOM/lab4/data
sem2/PIAOM/lab4/lightning_logs
best_vit_model.pth
lightning_logs
data/medmnist
.vscode
data
sem2/PIAOM/lab5/data
sem2/DSN/lab5/data
checkpoints
wandb
sem2/DSN/annotations.zip
sem2/DSN/lab6/diffusion_final.ckpt
sem2/DSN/lab7/test.zip
sem2/DSN/lab7/train.zip
sem2/DSN/wandb
Test
Train
wandb